.App {
  height: 100vh;
  padding: 50px 0;
}

.App .app-outside-body {
  margin: 0 auto;
  max-width: 650px;
}

.App .app-body {
  border: 1 solid #5669de;
  border-radius: 10px;
  padding: 20px;
  color: #f8f59b;
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
}

.App h1 {
  font-size: 45px;
}

.App ul {
  list-style: none;
  padding: 0;
}

.App li:first-letter {
  text-transform: capitalize;
}
