.weather-today > div {
  padding: 0;
}

.weather-today {
  align-items: center;
  padding: 0 15px;
}

.weather-today div:nth-child(2) {
  text-align: center;
}
.weather-today div:nth-child(3) {
  text-align: right;
}
.weather-temperature .icon {
  width: 100px;
  margin-right: 10px;
  margin-bottom: 30px;
}

.weather-temperature .temperature {
  font-size: 60px;
  font-weight: 400;
  word-spacing: -15px;
  text-align: center;
}

.weather-temperature .units {
  position: relative;
  top: -34px;
  font-size: 20px;
}
