.Weather {
  border: 1px solid var(--secondary-color);
  font-family: Arial, sans-serif;
  padding: 16px;
  border-radius: 10px;
  color: var(--color);
  background-color: var(--secondary-color);
}

.Weather button {
  border: none;
  background-color: var(--secondary-color);
  color: var(--color);
}

.Weather .search-icon {
  font-size: 30px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .row {
  margin: 15px 0;
}

.Weather .float {
  float: left;
  margin-right: 10px;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 64px;
  color: var(--color);
  line-height: 64px;
}

.Weather .unit {
  color: var(--color);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  line-height: 1;
}
